@keyframes mouth {
  from {
    stroke-dasharray: 157, 100;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dasharray: 126, 100;
    stroke-dashoffset: -15;
  }
}

.pacman {
  width: calc(var(--pixel-size) * 2);
  height: calc(var(--pixel-size) * 2);
  transition-timing-function: linear;
  position: absolute;
  z-index: 999;;
  circle {
    stroke: yellow;
    stroke-width: 50%;
    fill: none;
    animation: mouth 0.15s linear infinite alternate;
  }
}